@layer base {

  body {
    @apply text-base text-orange-400 font-poppins;
    &::selection{
      @apply text-slate-900 bg-orange-400;
    }
  }
  html {
    @apply m-0;
  }
  html,
  body{
    @apply overflow-x-hidden bg-white;
  }
  h1{
    @apply text-4xl font-extrabold md:text-5xl 3xl:text-6xl;
  }

  h2{
    @apply text-3xl font-extrabold md:text-4xl 3xl:text-5xl;
  }

  h3{
    @apply text-2xl font-extrabold md:text-3xl 3xl:text-4xl;
  }

  h4 {
    @apply text-xl font-bold md:text-2xl 3xl:text-3xl;
  }

  h5{
    @apply text-xl font-bold md:text-2xl;
  }

  h6 {
    @apply text-lg font-normal md:text-xl;
  }
  small {
    @apply text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin-bottom: 16px;
  }

  p,
  li,
  ol,
  ul,
  blockquote,
  figure{
    margin: 0 0 15px;
  }
  p {
    margin-bottom: 30px;
  }
}
